{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <h2>Dashboard</h2>

  <p class="lead">
    You have {{ note_count }} saved note{% if note_count != 1 %}s{% endif %}.
  </p>

<hr>
<h5>Today's Quote</h5>
<p>{{ quote }}</p>

{% if chart_filename %}
  <hr>
  <h5>Your Mood Chart</h5>
  <img src="{{ url_for('static', filename=chart_filename) }}"
       class="img-fluid rounded shadow"
       alt="Mood Chart">
{% endif %}


  <p>
    This is your overview page where you can see how often you’ve taken time to pause
    and check in with yourself. Adding a note each day helps track your mood and
    moments of reflection.
  </p>

{% endblock %}
